@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.contianer {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

@theme {
  --breakpoint-mobile:567px;
  --breakpoint-tablet:768px;
  --breakpoint-laptop:992px;
  --breakpoint-desktop:1200px;
}

.b{
  border: 1px solid red;
}

.f{
  border: 1px solid green;
}