@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import "tailwindcss";

.contianer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1635px;
}




* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
} 

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.b {
  border: 1px solid red;
}


@theme inline {

  --font-font-family: "Roboto", sans-serif;
  --font-second-family: "Open Sans", sans-serif;
  --font-third-family: "Yellowtail", sans-serif;
  --font-font3: "Inter", sans-serif;

  
  --color-qoraroq:  #274c5b;
  --color-yashil: #7EB693;
  --color-bgkulrang: #fafafa;
  --color-btnsariq: #efd372;
  --color-bggray2: #F9F8F8;
  --color-gray3: #D4D4D4;
  --color-green: #7EB693;


}